*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
    /*changes box model so the height and width are calculated differently. 
    When you set the content size it takes account of the padding and border*/
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box; 
}